
.nav{
    padding:1rem 1.4rem;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.nav h1{
    font-size: 2rem;
}
ul{
    list-style: none;
    display:flex;
    gap:1rem;
}
a{
    color:black;
    text-decoration: none;
}
a:hover{
    color:#f16821;
    text-decoration: none;
}
.dot{
    color:#F16821;
}
.none{
    display:none;
}
@media only screen and (max-width: 767px) {
    .nav{
        padding:0.9rem 1.2rem;
        width:100%;
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav ul{
        display:none;
    }
    .none{
        display:flex;
    }
}