.yellow {
    background-color: yellow;
}
.coding{
    border:3px solid purple;
    color:red;
}
.blue span{
    background-color: blue;
}
.green-01{
    background-color: green;
}
.red-01 #inside02{
    color:red;
}
.green-02{
    background-color: green;
}
.a02{
    background-color: yellow;
}