nav{
    background-color: #236D5A;
    opacity: 0.8;
}
.nav-menu a{
    text-decoration: none;
    color:white;
}
.nav-menu ul{
    display:flex;
    gap:2rem;
}
.navbar{
    padding:1.8rem;
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.nav-logo{
    font-size:1.4rem;
    color:white;    
}
.nav-menu-hidden{
    display:none;
}
/* hero-banner */
header{
    background-image: url("https://mobirise.com/extensions/floram4/floral-studio/assets/images/sl1-967x725.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-banner{
    min-height:700px;   
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-banner span,.hero-banner h3{
    margin-top:1rem;
    color:#236D5A;
}
.hero-banner span{
    font-size: 2rem;
}
.hero-banner h3{
    font-size: 3rem;
}
/* Our mission section */

#first-flow-card{
    background-image: url("https://mobirise.com/extensions/floram4/floral-studio/assets/images/gallery1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height:700px; 
}
.mission-card{
    height:500px;
    margin:3rem auto;
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.mission-parag{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:2rem;
    padding:0 6rem;
    color:white;
    background-color: #236D5A;
}
.img-mission{
    width:100%;
    height:100%;
}
.img-mission img{
    width:100%;
    height:100%;
}

.mission-parag h2{
    font-size: 2rem;
}
.mission-parag p{
    width:300px;
}
.mission-parag button{
    width:130px;
    height:40px;
    border:none;
    background-color: #D8E3D5;
}
.mission-parag button:hover{
    background-color: #bcdbb3;
    color:#236D5A;
}
/* js flower-cards */

#js-flower-cards{
    background-image: url("https://mobirise.com/extensions/floram4/floral-studio/assets/images/background1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height:700px; 
}
.js-card-img img{
    width:100%;
}
.js-card-parag{
    color:#698063;
    margin-top:1rem;
    text-align: center;
}
.js-card-parag h4{
    margin-bottom:1rem;
}
.js-head {
    text-align: center;
}
.a{
    padding-top:4rem;
    color:#236D5A
}
.a p{
    font-size: 1rem;
    font-style: italic;
    color:#236D5A;
}
.a h3{
    font-size: 2.5rem;
    margin:1rem 0 2rem 0;
    color:#236D5A;
}

/* Events Pricing */

.event-card{
    padding:4.6rem 2rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:1.5rem;
    color:#236D5A;  
    border:1px solid #236D5A;
    background-color: #FEF1E6;
}
.event-card .event span{
    font-style: italic;
    font-size: 2.5rem;
}
.event-card .event {
    font-style: italic;
}
.event-card p {
    opacity: 0.8;
}
.event-card button{
    margin-top:1rem;
    padding:0.8rem 2.3rem;
    border:none;
    background-color:#D8E3D5;
    color:#236D5A
}
.event-card button:hover{
    background-color:#96b38e;
}
/* Our Team */
.member-img{
    position:relative;
}
.member-img img{
    width:100%;
}
.icns-team{
    position:absolute;
    top:20px;
    left:20px;
    display:flex;
    flex-direction: column;
    font-size: 1.5rem;
    color:#236D5A;
    gap:0.6rem;
}
.icns-team i{
    text-align: center;
    border-radius:50%;
    padding:6px;
    background-color: white;
    display:none;
    
}
.team-card:hover .icns-team i{
    display:block;
}
.member-info{
    margin-top:1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1rem;
    color:#236D5A;
}
.member-info p{
    font-style: italic;
}
.ppp{
    padding:0;
}

 /* Footer */

 #footer-first{
    margin-top:5rem;
    background-color: #E0ECDC;
    padding:2rem;
}
.footer-img{
    width:150px;
    margin:3rem 0 1rem 0;
}
.footer-inp{
    border:none;
    border-bottom:1px solid #236D5A;
    padding:1rem 2rem;
    width:300px;
    display:inline-block;
    background-color: #E0ECDC;
}
.button-footer{
    border:none;
    display:inline-block;
    border-bottom:1px solid #236D5A;
    padding:0.9rem 1.9rem;
    background-color:#bcdbb3;
}
.footer-params{
    display:flex;
    gap:6rem;
}
.footer-params .footer-end{
    margin-top:2rem;
    margin-bottom:1rem;
    font-size: 1.5rem;
    color:#11604d;
}
.footer-params ul{
    display:flex;
    flex-direction: column;
    gap:1rem;
    color:#236D5A
}
.footer-params ul p{
    margin-top:2rem;
    margin-bottom:1rem;
    font-size: 1.5rem;
}
.footer-params ul li{
    font-style: italic;
    cursor: pointer;
}
.footer-params ul li:hover{
    color:#11604d;
}
@media only screen and (max-width: 767px) {
    .nav-menu{
        display:none;
    }
    .navbar{
        padding:1.8rem;
        display:flex;
        align-items:center;
        justify-content: space-between;
        background-color: #236D5A;
        opacity: 0.8;
    }
    .nav-logo{
        font-size:1.4rem;
        color:white;    
    }
    .nav-menu-hidden.bbbb{
        display:block;
        font-size: 1.4rem;
    }
    /* hero-banner */
    header{
        background-image: url("https://mobirise.com/extensions/floram4/floral-studio/assets/images/sl1-967x725.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .hero-banner{
        min-height:700px;   
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero-banner span, .hero-banner h3{
        color:#236D5A;
    }
    .hero-banner h3{
        font-size: 1.4rem;
    }
    /* Our mission section */

    #first-flow-card{
        background-image: url("https://mobirise.com/extensions/floram4/floral-studio/assets/images/gallery1.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height:700px; 
    }
    .mission-card{
        margin-top:3rem;
        display:flex;
        flex-direction: column;
        height:290px;
    }
    .img-mission img{
        width:100%;
        height:100%;
    }
    .mission-parag{
        background-color: #236D5A;
        display:flex;
        flex-direction: column;
        gap:2rem;
        padding:1.5rem 1rem;
        color:white;
    }
    .mission-parag h2{
        font-size: 2rem;
    }
    .mission-parag button{
        width:130px;
        height:40px;
        border:none;
        background-color: #D8E3D5;
    }
    .mission-parag button:hover{
        background-color: #bcdbb3;
        color:#236D5A;
    }
    /* js flower-cards */

    #js-flower-cards{
        background-image: url("https://mobirise.com/extensions/floram4/floral-studio/assets/images/background1.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height:700px; 
    }
    .js-card-img img{
        width:100%;
    }
    .js-card-parag{
        color:#698063;
        margin-top:1rem;
        text-align: center;
    }
    .js-card-parag h4{
        margin-bottom:1rem;
    }
    .js-head {
        text-align: center;
    }
    .a{
        padding-top:2rem;
        color:#236D5A
    }
    .a p{
        font-size:1rem;
        font-family: Crimson Text,serif;
        font-style: italic;
    }
    .a h3{
        font-family: sans-serif;
        font-weight: 300;
        font-size:1.9rem;
        margin:1rem 0 2rem 0;
        color:#236D5A;
    }
    /* Events Pricing */

    .event-card{
        padding:4.6rem 2rem;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap:1.5rem;
        color:#236D5A;  
        border:1px solid #236D5A;
        background-color: #FEF1E6;
    }
    .event-card .event span{
        font-style: italic;
        font-size: 2.5rem;
    }
    .event-card .event {
        font-style: italic;
    }
    .event-card p {
        opacity: 0.8;
    }
    .event-card button{
        margin-top:1rem;
        padding:0.8rem 2.3rem;
        border:none;
        background-color:#D8E3D5;
        color:#236D5A
    }
    .event-card button:hover{
        background-color:#96b38e;
    }
    /* Our Team */
    .member-img{
        position:relative;
    }
    .member-img img{
        width:100%;
    }
    .icns-team{
        position:absolute;
        top:20px;
        left:20px;
        display:flex;
        flex-direction: column;
        font-size: 1.5rem;
        color:#236D5A;
        gap:0.6rem;
    }
    .icns-team i{
        text-align: center;
        border-radius:50%;
        padding:6px;
        background-color: white;
        display:none;
        
    }
    .team-card:hover .icns-team i{
        display:block;
    }
    .member-info{
        margin-top:1rem;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap:1rem;
        color:#236D5A;
    }
    .member-info p{
        font-style: italic;
    }
    .ppp{
        padding:1rem;
    }
    /* Footer */

    #footer-first{
        background-color: #E0ECDC;
        padding:1rem;
    }
    .footer-img{
        width:300px;
        margin:3rem 0 1rem 0;
    }
    .footer-inp{
        margin-top:2rem;
        border:none;
        border-bottom:1px solid #236D5A;
        padding:1rem 2rem;
        width:250px;
        display:inline-block;
        background-color: #E0ECDC;
    }
    .button-footer{
        border:none;
        display:inline-block;
        border-bottom:1px solid #236D5A;
        padding:0.9rem 1.9rem;
        background-color:#bcdbb3;
    }
    .footer-params{
        display:flex;
        flex-direction: column;
        gap:3rem;
    }
    .footer-params .footer-end{
        margin-top:2rem;
        margin-bottom:1rem;
        font-size: 1.5rem;
        color:#11604d;
    }
    .footer-params ul{
        display:flex;
        flex-direction: column;
        gap:1rem;
        color:#236D5A
    }
    .footer-params ul p{
        margin-top:2rem;
        margin-bottom:1rem;
        font-size: 1.5rem;
    }
    .footer-params ul li{
        font-style: italic;
        cursor: pointer;
    }
    .footer-params ul li:hover{
        color:#11604d;
    }
}