*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
}
.container{
    display:flex;
    text-align: center;
    margin:100px 240px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box{
    margin:20px;
    width:230px;
    height:300px;
    padding:0 15px;
    border:2px solid black;
}
.box .fa-brands{
    font-size:50px;
    margin-top:20px;
}
.box h1{
    margin-top:15px;
    font-size: 25px;
}
.box p{
    margin-top:15px;
    font-size: 12px;
}
.box .bt{
    margin-top:15px;
    width:170px;
    height:35px;
    border-radius: 20px;
    border:none;
    background-color: black;
    color:white;
}
.box .bt:hover{
    background-color:white;
    color:palevioletred;
}
.box:hover{
    border-color: palevioletred;
    background-color: palevioletred;
    color:white;
}