.cardHolder{
    display:flex;
    flex-wrap: wrap;   

}
img{
    object-fit: contain;
    width:100%;
    height: 100%;
}
.container{
    width:1200px;
    margin:100px auto;

}
.inpValue{
    width:300px;
    margin:70px 15px;
    padding:0.5rem 1rem;
    border:none;
    border-radius: 10px;
    background-color:#f16821;
}
.imgHeight{
    width:240px !important;
    height:300px !important;
}