*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width:1200px;
    margin:0 auto;
}
.cardHolder{
    margin-top:2rem;
    padding:1rem;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap:1rem;
}
.card{
    padding:0.8rem 1rem;
    min-height:400px;
    width:300px;
    border:1px solid black;
    display:flex;
    flex-direction: column;
    gap:1rem;
}
.text{
    display:flex;
    flex-direction: column;
    gap:0.8rem;
}
.image{
    width:100%;
    overflow: hidden;
}
.image img{
    width:200px;
}
.detailButton button{
    border:none;
    border-radius: 10px;
    padding:0.5rem 1rem;
    background-color:antiquewhite;
}
.search{
    margin-left:1rem;
    padding:0.5rem 1rem;
    border-radius: 10px;
    border:none;
    background-color:antiquewhite;
}